*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main{
  height: 100vh;
  background: url('https://i.imgur.com/YFl21T5.png') fixed center;
  /*background: linear-gradient(123deg, #8B2ECC 0%, #67E0E8 100%);*/
  background-size: cover;
}

.container{
  width: 350px;
  height: 400px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  /* top: 35%; */
  top: 21em;
  left: 50%;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
  border: 1px solid #BB4E08;
}

.container:before{
  width: 400px;
   height: 550px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(10px);
}

form{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

label{
    font-size: 24px;
    color: rgba(41, 41, 41, 0.91);
    font-weight: bold;
    pointer-events:none
}

input{
  background: 0;
  width: 200px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgba(255,255,255, 0.3);
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255,255,255, 0.8);
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

input[type="text"]:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

input[type="submit"]{
  border: 0;
  border-radius: 8px;
  padding-bottom: 0;
  height: 60px;
  background: #BB4E08;
  color: white;
  cursor: pointer;
  transition: all 600ms ease-in-out;
}

input[type="submit"]:hover{
  background: #C0392B;
}

span a{
  color: rgba(255,255,255, 0.8);
}

h1{
    text-align:center;
    color: rgba(177, 177, 177, 0.91);
}

.card-container {
    width: 600px;
    position: absolute;
    /* top: 55%; */
    top: 33em;
    left: 31%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.card {
  width: 170px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.card:hover {
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.5);
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  color: rgba(41, 41, 41, 0.91);;
}
